.custom-avatar {
    width: 56px;
    height: 56px;
    border: 2px solid rgb(210, 209, 209);
    border-radius: 0;
}

.Layout {
    position: fixed;
    display: flex;
}

#main {
    margin-left: 16.5rem;
    margin-top: 10.5rem;
    margin-bottom: 50rem;
    width: 82%;
    height: 70vh;
    background-color: white;
    border: 5px solid white;
    position: fixed;
}

.green-box1 {
    display: flex;
    position: absolute;
    left: 15rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    background-color: #4EE080;
    margin-top: 10rem;
    margin-left: 7.5rem;
    margin-right: 2rem;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.green-box2 {
    display: flex;
    position: absolute;
    left: 30rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    background-color: #4EE080;
    margin-top: 10rem;
    margin-left: 7.5rem;
    margin-right: 2rem;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.green-box3 {
    display: flex;
    position: absolute;
    left: 15rem;
    top: 5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    background-color: #4EE080;
    margin-top: 10rem;
    margin-left: 7.5rem;
    margin-right: 2rem;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.green-box4 {
    display: flex;
    position: absolute;
    left: 30rem;
    top: 5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    background-color: #4EE080;
    margin-top: 10rem;
    margin-left: 7.5rem;
    margin-right: 2rem;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.green-box p {
    margin-top: 105px;
    overflow-y: auto;
}

.Camera {
    position: fixed;
    width: 70rem;
    height: 96%;
    margin-top: 1%;
    margin-left: 2%;
    background-color: black;
}

.두명1 {
    position: fixed;
    width: 34.5rem;
    margin-top: 10%;
    margin-right: 2%;
    height: 35%;
    background-color: #4EE080;
    opacity: 100%;
}

.두명1 video {
    width: 100%;
    height: 100%;
}

.두명2 {
    position: fixed;
    width: 34.5rem;
    margin-top: 10%;
    height: 35%;
    background-color: #4EE080;
    margin-left: 37%;
    opacity: 40%;
}

.세명1 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(171, 172, 244);
    margin-left: 17%;
    opacity: 40%;
}

.세명2 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(171, 172, 244);
    margin-top: 23%;
    margin-left: 37%;
    opacity: 40%;
}

.세명3 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(171, 172, 244);
    margin-top: 23%;
    opacity: 40%;
}

.네명1 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(74, 74, 74);
    opacity: 20%;
}

.네명2 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(74, 74, 74);
    margin-left: 37%;
    opacity: 20%;
}

.네명3 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(74, 74, 74);
    margin-top: 23%;
    opacity: 20%;
}

.네명4 {
    position: fixed;
    width: 34.5rem;
    height: 45%;
    background-color: rgb(74, 74, 74);
    margin-top: 23%;
    margin-left: 37%;
    opacity: 20%;
}

.NoteButton {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    background-color: #4EE080;
    margin-top: 10rem;
    margin-left: 8.5rem;
    margin-right: 2rem;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.NoteList {
    position: absolute;
    /* 요소들의 상대적인 위치를 지정하기 위한 부모 요소 */
    width: 95%;
    height: 90%;
    background: #818181;
    /* 전체 배경색 */
    border-radius: 20px;
    /* 테두리 둥글게 */
}

.NoteList .header {
    background: #4EE080;
    border-radius: 20px 20px 0 0;
    /* 위쪽 테두리만 둥글게 */
    height: 2rem;
}

.cate {
    display: flex;
    justify-content: space-between;
}

.item {
    flex: 1;
    text-align: center;
    background-color: #B6B6B6;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    /* 버튼 둥글게 */
    margin: 5px 5px;
    /* Add margin to create spacing between items */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* Add margin to separate pagination from the note list */
}

.arrow {
    cursor: pointer;
    margin: 0 10px;
    /* Adjust margin for spacing between arrows and page numbers */
}

.pages {
    display: flex;
}

.page-number {
    cursor: pointer;
    margin: 0 5px;
    /* Adjust margin for spacing between page numbers */
}

.NoteDetail {
    position: absolute;
    width: 50%;
    height: 83%;
    background: #818181;
    border-radius: 20px;
    left: 12rem;
}

.NoteDetail .header {
    background: #4EE080;
    border-radius: 20px 20px 0 0;
    height: 2rem;
}

.NoteDetail .information {
    background: #B6B6B6;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
}

.NoteDetail .volume-bar-active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4EE080;
    /* 원하는 색상으로 변경하세요 */
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}

.user-video, .peer-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nickname {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}
  
  .position-0 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .position-1 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .position-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .position-3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .ParticipantsCount {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  

.NoteDetail label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* 슬라이더 커스텀 스타일링 */
input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: gray;
    /* Track의 기본 색상 */
    border-radius: 5px;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #4EE080;
    /* Thumb의 배경색 */
    border-radius: 50%;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ff0000;
    /* Thumb의 배경색 */
    border-radius: 50%;
    cursor: pointer;
}

input[type='range']::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ff1010;
    /* Thumb의 배경색 */
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    width: 150px;
    /* Adjust the width as needed */
    padding: 5px;
    background-color: #818181;
    /* Background color */
    color: white;
    /* Text color */
    margin: 10px;
    border-radius: 10px;
}

.controls {
    margin-top: 0px;
}

.controls button {
    padding: 10px 20px;
    margin-right: 1rem;
    background-color: #818181;
    /* Blue color */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.controls button:disabled {
    background-color: #ccc;
    /* Gray color for disabled state */
    cursor: not-allowed;
}

.controls button:last-child {
    margin-right: 0;
}

.controls audio {
    position: absolute;
    bottom: 1.6rem;
}

#mic,
#video,
#setting {
    position: relative;
    margin-left: 2%;
    font-size: 2rem;
    font-weight: bolder;
}

#mic {
    margin-top: -10%;
    margin-left: 50%;
}

#video {
    margin-top: -16%;
    margin-left: 68%;
}

#setting {
    color: black;
    margin-top: -16%;
    margin-left: 88%;
}

/* 아이콘 스타일 */
.icon-wrapper {
    position: relative;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    /* 기본 아이콘 색상 */
}

/* 마이크와 비디오가 켜져 있을 때 아이콘 색상을 red로 설정합니다. */
.icon-on {
    color: red;
}

.RecognitionButton button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.RecognitionButton button:hover {
    background-color: #bf6c0d;
}

/* 음성인식 모드일 때의 스타일 */
.voiceRecognitionMode button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    border-radius: 20px;
}

/* 채팅 모드일 때의 스타일 */
.chatMode button {
    background-color: #28a745;
    color: white;
    border: none;
    width: 100%;
    border-radius: 20px;
}

/* 음성인식 모드일 때 Chatting 컴포넌트의 스타일 */
.voiceRecognitionMode .Chatting {
    background-color: #007bff;
    color: white;
}

/* 채팅 모드일 때 Chatting 컴포넌트의 스타일 */
.chatMode .Chatting {
    background-color: #28a745;
    color: white;
}